body {
    padding: 32px;
    max-width: 700px;
}

button {
    border: 1px solid black;
    border-radius: 50%;
    background-color: transparent;
}

li div {
    width: 12rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
