body {
    padding: 32px;
    max-width: 700px;
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    font-size: 16px;
    border: 1px solid black;
    border-radius: 50%;
    border: none;
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
    background-color: transparent;
}

li div {
    width: 12rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-block: 8px;
}
